<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Card desks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Card Def</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let cardDeck of cardDecks">
        <ion-avatar slot="start">
          <img class="btn" src="{{'../../assets/images/'+ cardDeck +'.png'}}" (click)="selectCard"/>
        </ion-avatar>
        <ion-label>
          <h2>{{cardDeck}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
